@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .container{
        @apply w-full max-w-[300px] bg-[#ffffff] border-[5px] border-solid border-[#f7c948] rounded-[10px] flex flex-col gap-4 p-6 items-center animate-fade-in-up;
    }
}