.container{
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;


  background: #2b4c7e;

  border-radius: 2px;
  box-sizing: border-box;
}

.form {
  width: 100%;
  max-width: 300px;

  background-color: #ffffff;
  border: 5px solid #f7c948;
  border-radius: 10px;

  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  from { 
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}