.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input {
  flex: 1;
  border: none;
  outline: none;

  background: transparent;

  font-size: 14px;
  color: #000000;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 4px;

  border-bottom: 2px solid #f7c948;
}

.icon {
  margin-right: 8px;
  color: #555;
}

.label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}