.return {
  position: absolute;
  top: 16px;
  left: 16px;

  padding: 10px;
  border-radius: 8px;
  background: #f7c948;
  border: none;
  cursor: pointer;

  transition: 
    background-color 0.15s ease,
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

.return:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.return:hover {
  background-color: #ffd45f;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.icon{
    display: flex;
    align-items: center;
    gap: 8px; 
}