.container {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  user-select: none;
  margin-left: 15px;
}


.container input {
  display: none;
}


.customRadio {
  width: 16px;
  height: 16px;
  border: 2px solid #f7c948;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container input:checked + .customRadio::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #f7c948;
  border-radius: 50%;
}

.label {
  font-size: 14px;
  color: #333;
}
